<!-- Suggested friends widget -->
<!-- /partials/widgets/suggested-friends-1-widget.html -->
{% if len(sfollow)>0 %}
<div class="card ys-card-mb">
 <div class="card-heading is-bordered ys-p-1rem">
 <h4 class="ys-heading-tight">Suggested Friends</h4>
        <div class="dropdown is-spaced is-right dropdown-trigger">
            <div>
                <!--<div class="button">
                    <i data-feather="more-vertical"></i>
                </div> -->
            </div>
         <!--   <div class="dropdown-menu" role="menu">
                <div class="dropdown-content">
                    <a href="#" class="dropdown-item">
                        <div class="media">
                            <i data-feather="users"></i>
                            <div class="media-content">
                                <h3>All Suggestions</h3>
                                <small>View all friend suggestions.</small>
                            </div>
                        </div>
                    </a>
                    <a class="dropdown-item">
                        <div class="media">
                            <i data-feather="settings"></i>
                            <div class="media-content">
                                <h3>Settings</h3>
                                <small>Access widget settings.</small>
                            </div>
                        </div>
                    </a>
                    <hr class="dropdown-divider"/>
                    <a href="#" class="dropdown-item">
                        <div class="media">
                            <i data-feather="trash-2"></i>
                            <div class="media-content">
                                <h3>Remove</h3>
                                <small>Removes this widget from your feed.</small>
                            </div>
                        </div>
                    </a>
                </div>
            </div> -->
        </div>
    </div>
    <div class="card-body no-padding">
        <!-- Suggested friend -->

        {% for friend in sfollow %}

 <div class="add-friend-block transition-block ys-list-row">
            <img
                    src="https://via.placeholder.com/300x300"
                    {% if friend['profile_pic'] %}
                        data-demo-src="{{ friend['profile_pic'] }}"
                    {% else %}
                         data-demo-src="{{ url_for('static', filename='assets/img/users/'+ friend['id']|user_image_id +'.png') }}"
                    {% endif %}
                    data-user-popover="9"
                    alt=""
 class="ys-avatar-md"
            />
 <div class="page-meta ys-flex-1-mr">
 <span><a href="/{{exp_id}}/profile/{{ friend['id'] }}/recent/1" class="ys-link-dark">{{ friend['username']|safe }}</a></span>
            </div>
            <div class="add-friend add-transition">
 <a href="/{{exp_id}}/follow/{{ user_id }}/{{ friend['id'] }}" class="ys-icon-circle-blue"><i data-feather="user-plus"></i></a>
            </div>
        </div>
        {% endfor %}
        <!-- Suggested friend -->

    </div>
</div>
{% endif %}