<div id="feed-post-{{ thread['post_id'] }}" class="card is-post" style="margin-bottom: 0.75rem; border-radius: 8px; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);">
    <div class="comments-wrap">
 <div class="comments-body has-slimscroll ys-p-1rem">

            <div class="media is-comment">

                <div class="media-left">
                    <div class="image">
                        <img
                                src="https://via.placeholder.com/300x300"
                                {% if thread['profile_pic'] == "" %}
                                data-demo-src="{{ url_for('static', filename='assets/img/users/'+ thread['author_id']|user_image_id +'.png') }}"
                            {% else %}
                                data-demo-src="{{ thread['profile_pic'] }}"
                            {% endif %}
                                data-user-popover="1"
                                alt=""
                        />
                    </div>
                </div>

                <div class="media-content">
                    <a href="/{{exp_id}}/profile/{{ thread['author_id'] }}/recent/1">{{ thread["author"] }}</a>
                    <span class="time">Day {{ thread["day"] }} - {{thread["hour"]}}:00</span>
                    <p>
                        {{ thread["post"]|safe }}
                    </p>

 <div class="card-footer ys-flex-wrap-py">
 <div class="likers-text ys-flex-wrap-mr">
                            {% if len(thread['emotions']) > 0 %}
 <p class="ys-text-08rem-mr">Emotions</p>
                            {% for em in thread['emotions'] %}
 <a class="mdi {{ em[1] }} ys-mr-half" title="{{ em[0] }}" href="/{{exp_id}}/emotion/{{ em[2] }}/1"></a>
                            {% endfor %}
                            {% endif %}
                        </div>
 <div class="likers-text ys-flex-wrap-mr">
                            {% if len(thread['topics']) > 0 %}
 <p class="ys-text-08rem-mr">Topics</p>
                            {% for tp in thread['topics'] %}
                                {% if tp[2] == 'positive' %}
 <a href="/{{exp_id}}/interest/{{ tp[0] }}/1" class="ys-badge-green"> {{ tp[1] }}</a>
                                {% elif tp[2] == 'negative' %}
 <a href="/{{exp_id}}/interest/{{ tp[0] }}/1" class="ys-badge-red"> {{ tp[1] }}</a>
                                {% else %}
 <a href="/{{exp_id}}/interest/{{ tp[0] }}/1" class="ys-badge-blue"> {{ tp[1] }}</a>
                                {% endif %}
                             {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="controls">

                        <div class="like-count" id="like-count-{{ thread['post_id'] }}">
 <i data-feather="thumbs-up" {% if not bool(thread["is_liked"]) %}class="ys-stroke-blue"{% endif %}></i>
 <span {% if not bool(thread["is_liked"]) %}class="ys-text-light-blue"{% endif %}>{{ thread["likes"] }}</span>
                    </div>
                    <div class="dislike-count" id="dislike-count-{{ thread['post_id'] }}">
 <i data-feather="thumbs-down" {% if not bool(thread["is_disliked"]) %}class="ys-stroke-blue"{% endif %}></i>
 <span {% if not bool(thread["is_disliked"]) %}class="ys-text-light-blue"{% endif %}>{{ thread["dislikes"] }}</span>
                </div>

            </div>
            {% if len(thread['children'])>0 %}
 <div class="reply text-start">
                <a class="child_sub" val="{{ thread['post_id'] }}">Less</a>
            </div>
            {% endif %}
 <div class="reply text-end">
                <a id='{{ thread["post_id"] }}' onClick="editLink(this.id)">Reply</a>
            </div>
            <p id="message-{{ thread['post_id'] }}"></p>
 <form class="comment_form ys-mt-1rem" id="comment_form-{{ thread['post_id'] }}">
 <textarea rows="3" class="reply_comment ys-textarea" id="comment-{{ thread['post_id'] }}">@{{ thread["author"] }} </textarea>
            <button
                    id="add_comment"
                    type="button"
                    class="button is-solid accent-button is-fullwidth"
                    val="{{ thread['post_id'] }}"
 class="ys-btn-rounded"
            >
            Comment
            </button>
            </form>
        </div>

        <div class="media-right">

            <div class="dropdown is-spaced is-right is-neutral dropdown-trigger">
                <!--<div>
                    <div class="button">
                        <i data-feather="more-vertical"></i>
                    </div>
                </div> -->
                <div class="dropdown-menu" role="menu">
                    <div class="dropdown-content">

                        {% if thread['author_id'] == logged_id %}
                        <a class="dropdown-item" id="delete_post" val="{{ thread['post_id'] }}">
                            <div class="media">
                                <i data-feather="bell"></i>
                                <div class="media-content">
                                    <h3 val="{{ thread['post_id'] }}">Delete</h3>
                                    <small></small>
                                </div>
                            </div>
                        </a>
                     <!--   <hr class="dropdown-divider"/> -->
                        {% endif %}

                      <!--  <a href="#" class="dropdown-item">
                            <div class="media">
                                <i data-feather="flag"></i>
                                <div class="media-content">
                                    <h3>Report</h3>
                                    <small>Report this comment.</small>
                                </div>
                            </div>
                        </a> -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
</div>